html, body {
	color:#000000;
	background-color:#B3B3B3;
	
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
}

#container {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

canvas {
	border: 2px solid black;
}

a img {
	border:none;
}

select { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:12px; 
	background-color:#DADADA; 
}
 